@keyframes wave {
    0%   { transform: scale(1); }
    50%  { transform: scale(2); }
    100% { transform: scale(1); } 
}

html, body {
    font-family: monospace;
    background-color: rgb(11, 37, 37);
    display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        
}

.snake {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

input {
    margin: 3px;
}

input.wave {
    animation: wave 0.4s cubic-bezier(.17, .67, .83, .67);
}

h1 {
    text-align: center;
}
#replay{
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: rgb(87, 149, 241);
    border-radius: 10px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#replay:hover{
    background: #a6a6a6;
    
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}